# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# MkDocs build output
site/

# MkDocs / local cache
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db